<!DOCTYPE html>
<html>
<head data-th-replace="/fragments :: head"></head>

<body class="page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div data-th-remove="tag" data-th-replace="/fragments :: sidebar"></div>
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE TITLE-->
                <h1 class="page-title"><span>Administrator runs</span>
                </h1>
                <!-- END PAGE TITLE-->

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="run: ${runs}">
                                <td data-th-text="${run.name}"> 1 </td>
                                <td data-th-text="${run.type}"> Mark </td>
                                <td>
                                    <a data-th-href="@{'/admin/delete/run/' + ${run.name} + '/' + ${run.type}}" class="nav-link nav-toggle">
                                        <i class="icon-close"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <div data-th-remove="tag" data-th-replace="/fragments :: footer"></div>
</div>

<div data-th-remove="tag" data-th-replace="/fragments :: scripts"></div>
<script data-th-src="@{/js/plugins/morris.min.js}"></script>

<script data-th-inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    const c_run_name = [[${name}]];
    const c_run_type = [[${type}]];
    /*]]>*/
</script>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: new google.maps.LatLng(50.878301, 4.696478),
            mapTypeId: 'terrain'
        });

        $.get( "/api/v1/run/"+c_run_name+ "/" + c_run_type + "/geometry/", function ( data ) {

            for ( var i = 0 ; i < data.length; i ++ ) {
                var reading = data[i];
                new google.maps.Marker({
                    position: {lat: reading.latitude, lng: reading.longtitude},
                    map: map
                });
            }

        });

    }

    // Loop through the results array and place a marker for each
    // set of coordinates.
    window.eqfeed_callback = function(results) {
        for (var i = 0; i < results.features.length; i++) {
            var coords = results.features[i].geometry.coordinates;
            var latLng = new google.maps.LatLng(coords[1],coords[0]);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
        }
    }
</script>
<script async defer data-th-src="@{'https://maps.googleapis.com/maps/api/js?key='+${apikey}+'&callback=initMap'}">
</script>

</body>

</html>