<!DOCTYPE html>
<html>
<head data-th-replace="/fragments :: head"></head>

<body class="page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div data-th-remove="tag" data-th-replace="/fragments :: sidebar"></div>
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE TITLE-->
                <h1 class="page-title"> Admin Dashboard
                    <small>statistics, charts, recent events and reports</small>
                </h1>
                <!-- END PAGE TITLE-->

                Hello Senne !!

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <div data-th-remove="tag" data-th-replace="/fragments :: footer"></div>
</div>
<div data-th-remove="tag" data-th-replace="/fragments :: scripts"></div>
<script>
</script>
</body>

</html>