<!DOCTYPE html>
<html>
<head data-th-replace="/fragments :: head"></head>

<body class="page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div data-th-remove="tag" data-th-replace="/fragments :: sidebar"></div>
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE TITLE-->
                <h1 class="page-title"><span data-th-text="@{'Map for run ' + ${name} + ' (' + ${type} + ')'}"> POD Graph for </span>
                    <small>statistics, charts, recent events and reports</small>
                </h1>
                <!-- END PAGE TITLE-->

                <style>
                    /* Always set the map height explicitly to define the size of the div
                     * element that contains the map. */
                    #map {
                        height: 600px;
                    }
                    /* Optional: Makes the sample page fill the window. */
                    html, body {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                </style>

                <div id="map"></div>

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <div data-th-remove="tag" data-th-replace="/fragments :: footer"></div>
</div>

<div data-th-remove="tag" data-th-replace="/fragments :: scripts"></div>
<script data-th-src="@{/js/plugins/morris.min.js}"></script>

<script data-th-inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    const c_run_name = [[${name}]];
    const c_run_type = [[${type}]];
    /*]]>*/
</script>

<script data-th-src="@{/js/pages/run-map.js}" type="text/javascript"></script>

<script async defer data-th-src="@{'https://maps.googleapis.com/maps/api/js?key='+${apikey}+'&callback=initMap'}">
</script>

</body>

</html>